<div class="forms-container">
  <h1>Formok</h1>

  <div class="typed-form mt-5">
    <h3>Típusos form</h3>
    <form [formGroup]="typedForm">
      <div class="mb-3">
        <label for="typed-form-name" class="form-label">Név</label>
        <input type="text" class="form-control" id="typed-form-name" formControlName="name" />
      </div>
      <div class="mb-3">
        <label for="typed-form-email" class="form-label">Email</label>
        <input type="email" class="form-control" id="typed-form-email" formControlName="email" />
      </div>
      <div class="mb-3">
        <label for="typed-form-age" class="form-label">Kor</label>
        <input type="number" class="form-control" id="typed-form-age" formControlName="age" />
      </div>
    </form>
  </div>

  <div class="ng-model-example mt-5">
    <h3>NgModel lista form nélkül</h3>
    <div class="form-group">
      <label for="rabbi" class="form-label">Kedvenc rabbid</label>
      <select class="form-control" id="rabbi" [(ngModel)]="selectedRabbiValue" (change)="onChangeRabbi($event)">
        <option value="" selected></option>
        <option *ngFor="let rabbi of rabbies" [value]="rabbi.value">{{ rabbi.name }}</option>
      </select>
    </div>
  </div>

  <div class="template-driven-form my-5">
    <h3>Template driven form</h3>
    <form #form="ngForm" (ngSubmit)="onSubmitTDF(form)">
      <div>
        <label for="tdf-name" class="form-label">Név</label>
        <input type="text" id="tdf-name" name="name" class="form-control" required ngModel />
      </div>
      <div class="mt-3">
        <label for="tdf-email" class="form-label">E-mail</label>
        <input type="email" id="tdf-email" name="email" class="form-control" required ngModel />
      </div>
      <div class="mt-3">
        <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Küldés</button>
      </div>
    </form>
  </div>
</div>
